{% trans_default_domain 'ibexa_matrix_fieldtype' %}

{% set fieldtype_name = 'ibexa_matrix.name'|trans({}, 'ibexa_fieldtypes')|desc('Matrix') %}

{% block ibexa_matrix_field_definition_edit %}
    <div class="ibexa-matrix-settings__minimum-rows">
        {{- form_label(form.minimum_rows, null, { 'label_attr': { 'class': 'ibexa-label' } }) -}}
        {{- form_errors(form.minimum_rows) -}}
        {{- form_widget(form.minimum_rows) -}}
    </div>

    <div class="ibexa-matrix-settings__columns">
        <script type="text/template" class="ibexa-matrix-settings__column-template">
            {% set col_checkbox %}
                <div class="form-check">
                    <input type="checkbox" class="ibexa-input ibexa-input--checkbox ibexa-matrix-settings__column-checkbox">
                </div>
            {% endset %}

            {% include '@ibexadesign/ui/component/table/table_body_row.html.twig' with {
                body_row_cols: [
                    { has_checkbox: true, content: col_checkbox, raw: true },
                    { content: form_widget(form.columns.vars.prototype.name), raw: true },
                    { content: form_widget(form.columns.vars.prototype.identifier, {
                        attr: {
                            class: 'ibexa-input--matrix-column-identifier'
                        }
                    }), raw: true },
                ],
                class: 'ibexa-matrix-settings__column',
            } %}
        </script>

        {{ form_label(form.columns, null, { 'label_attr': { 'class': 'ibexa-label' } }) }}
        {{ form_errors(form.columns) }}

        {% set body_rows = [] %}

        {% for column in form.columns %}
            {% set col_checkbox %}
                <div class="form-check">
                    <input type="checkbox" class="ibexa-input ibexa-input--checkbox ibexa-matrix-settings__column-checkbox">
                </div>
            {% endset %}

            {% set body_rows = body_rows|merge([{
                cols: [
                    { has_checkbox: true, content: col_checkbox, raw: true },
                    { content: form_widget(column.name), raw: true },
                    { content: form_widget(column.identifier, {
                        attr: {
                            class: 'ibexa-input--matrix-column-identifier'
                        }
                    }), raw: true },
                ],
                class: 'ibexa-matrix-settings__column',
            }]) %}
        {% endfor %}

        {% embed '@ibexadesign/ui/component/table/table.html.twig' with {
            headline: 'field.columns'|trans|desc('Columns'),
            head_cols: [
                { has_checkbox: true },
                { content: 'field.column.name'|trans|desc('Name') },
                { content: 'field.column.identifier'|trans|desc('Identifier') },
            ],
            body_rows,
            table_body_attr: {
                'data-next-index': form.columns.children|length ? max(form.columns.children|keys) + 1 : 0,
            }
        } %}
            {% block header %}
                {% embed '@ibexadesign/ui/component/table/table_header.html.twig' %}
                    {% trans_default_domain 'ibexa_matrix_fieldtype' %}
                    {% block actions %}
                        <button type="button" class="btn ibexa-btn ibexa-btn--tertiary ibexa-btn--small ibexa-btn--add-column">
                            <svg class="ibexa-icon ibexa-icon--small ibexa-icon--create">
                                <use xlink:href="{{ ibexa_icon_path('create') }}"></use>
                            </svg>
                            <span class="ibexa-btn__label">
                                {{ 'field.column.add_new'|trans|desc('Add') }}
                            </span>
                        </button>
                        <button type="button" class="btn ibexa-btn ibexa-btn--ghost ibexa-btn--small ibexa-btn--remove-column">
                            <svg class="ibexa-icon ibexa-icon--small ibexa-icon--trash">
                                <use xlink:href="{{ ibexa_icon_path('trash') }}"></use>
                            </svg>
                            <span class="ibexa-btn__label">
                                {{ 'field.column.delete'|trans|desc('Delete') }}
                            </span>
                        </button>
                    {% endblock %}
                {% endembed %}
            {% endblock %}
        {% endembed %}

        <div class="ibexa-form-error" hidden>
            <em class="ibexa-form-error__row">
                <svg class="ibexa-icon ibexa-icon--small ibexa-form-error__icon">
                    <use xlink:href="{{ ibexa_icon_path('notice') }}"></use>
                </svg>
                {{ 'field.column.error.quantity'|trans|desc('At least one column is required for matrix field.') }}
            </em>
        </div>
    </div>
{% endblock %}
